POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=userdb
IMAGE_REGISTRY=ghcr.io/ychandan764
IMAGE_TAG=latest
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
REDIS_HOST=redis
REDIS_PORT=6379
CONFIG_SERVER_URL=http://configserver:8888
CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=classpath:/config/,file:/config/
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
EUREKA_HOSTNAME=eureka-server
SERVICES_EUREKA_URL=http://eureka-server:8761
DB_URL=jdbc:postgresql://postgres:5432/userdb
PRODUCT_DB_URL=jdbc:postgresql://postgres:5432/productdb
ORDER_DB_URL=jdbc:postgresql://postgres:5432/orderdb
DB_USERNAME=postgres
DB_PASSWORD=1234
USER_SERVICE_URL=http://user-service:8081
PRODUCT_SERVICE_URL=http://product-service:8082
